.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
    align-content: space-around;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}
.KandyKorner-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 20vmin;
    width: 65%;
}